.release_title{
  color: white;
  margin: 24px 52px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.release_container{
  margin-bottom: 125px;
}
.films_wrapper{
  display: flex;
}
.film_item{
  margin-right: 16px;
}
